.App {
  text-align: center;
  min-height: 100vh;
  background-size: 100%;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExYjM1OTExYjhlZDAzZDY5YTgyYzkyMGVmN2UwNGQxNmMzMWQ1ODFjMSZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/26xBBif0I2TN544BG/giphy.gif");
  padding: 1%;
}

.App-header {
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: #E55451;
}
